<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css" crossorigin="anonymous">

    <title>Bootsrtrap</title>
  </head>

  <body>

    <div class="mx-auto" style="width: 250px; border: 200px; margin-top: 25px;"
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          {% if current_page == 2 %}
          <li class="page-item">
            <a class="page-link" href="../{{dest_folder}}index.html" tabindex="-1" aria-disabled="true">Previous</a>
          </li>        
          {% elif current_page == 1 %}
            <li class="page-item disabled">
              <a class="page-link" href="../{{dest_folder}}index{{current_page - 1}}.html" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="../{{dest_folder}}index{{current_page - 1}}.html" tabindex="-1">Previous</a>
            </li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="../{{dest_folder}}index.html">1</a></li>
          {% for number in range(2, page_count) %}
            <li class="page-item"><a class="page-link" href="../{{dest_folder}}index{{number}}.html">{{number}}</a></li>
          {% endfor %}
          {% if current_page >= (page_count - 1) %}
            <li class="page-item disabled">
              <a class="page-link" href="../{{dest_folder}}index{{current_page + 1}}.html" aria-disabled="true">Next</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="../{{dest_folder}}index{{current_page + 1}}.html" aria-disabled="false">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <div class="container">
      <div class="row">
      {% for iterable_books in books %}
      {% for book in iterable_books %}
        <div class="card mb-3" style="width: 540px; height: 300px; margin-right: 15px; margin-bottom: 3px; margin-top: 3px;" >
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../{{book['img_path']|urlencode}}" class="card-img" alt="Обложка книги">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{book.title}}</h5>
                  {% for genre in book.genres %}
                    <span class="badge badge-pill badge-light">{{genre}}</span>
                  {% endfor %}
                  <p class="card-text">
                    <a href="../{{book.book_path}}" target="_blank">Читать</a>
                  </p>
                </div>
              </div>
            </div>
        </div>
      {% endfor %}
        <div class="w-100"></div>
      {% endfor %}
      </div>
    </div>



    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="../static/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="../static/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>
